<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OpenAlex Browser</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="works">
                📄 Works
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="institutions">
                🏫 Institutions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="funders">
                <span class="oi oi-home" aria-hidden="true"></span> Funders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://github.com/kant2002/OpenAlexBrowser/issues/new" target="_blank">
                <span class="oi oi-home" aria-hidden="true"></span> Something missing?
            </a>
        </div>
        @* 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
