@page "/"
@using OpenAlexNet;
@inject OpenAlexApi openAlex

<PageTitle>Index</PageTitle>

<h1>Hello, OpenAlex!</h1>

<label for="search">Enter author name</label>
<InputText id="search" @bind-Value="@SearchField" class="form-control" /> 

<button class="btn btn-primary" @onclick="Search">Search</button>

@if (loading)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
@if (foundAuthors is not null)
{
    @foreach (var author in foundAuthors)
    {
        var works = foundWorks[author.Id];

        <AuthorShortInformation Author="author" />
        @foreach (var work in works.OrderByDescending(_ => _.PublicationDate))
        {
            <WorkShortInformation Work="work" />
        }
    }
}
@code {
    string? SearchField { get; set; }
    bool loading;

    List<Author>? foundAuthors;
    Dictionary<string, List<Work>> foundWorks = new();

    async Task Search()
    {
        if (SearchField is null)
        {
            return;
        }

        loading = true;
        try
        {
            foundAuthors = null;
            foundWorks = new();
            var authors = await openAlex.SearchAuthorsAsync(SearchField);
            if (authors is null)
            {
                return;
            }

            foundAuthors = authors.Results;
            foreach (var author in foundAuthors)
            {
                var authorWorks = await openAlex.FindWorksByAuthorAsync(author.Id);
                foundWorks.Add(author.Id, authorWorks.Results);
            }
        }
        finally
        {
            loading = false;
        }
    }
}