@page "/"
@using OpenAlexNet;
@inject OpenAlexApi openAlex

<PageTitle>Index</PageTitle>

<h1>Hello, OpenAlex!</h1>

<label for="search">Enter search criteria</label>
<InputText id="search" @bind-Value="@SearchField" class="form-control" /> 

<button class="btn btn-primary" @onclick="Search">Search</button>

@if (foundAuthors is not null)
{
    @foreach (var author in foundAuthors)
    {
        <AuthorShortInformation Author="author" />
    }
}
@code {
    string? SearchField { get; set; }

    List<Author>? foundAuthors;

    async Task Search()
    {
        if (SearchField is null)
        {
            return;
        }

        foundAuthors = null;
        var authors = await openAlex.SearchAuthorsAsync(SearchField);
        if (authors is null)
        {
            return;
        }

        foundAuthors = authors.Results;
    }
}